# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Makefile
cpp/g++/main_aes

# Microsoft Visual Studio project / VS Code
MVS_Python/
cpp/VisualStudioEmptyProject/.vs/
cpp/VisualStudioEmptyProject/Debug/
cpp/VisualStudioEmptyProject/x64/
.vscode/

# PyCharm
.idea/

# PyRTL
aes_PyRTL/sim/

# python scratch dev tests
python/devtests.py

# Quartus II / ModelSim / Vivado projects for Verilog
QS128
QS256
ModelSim
VivadoSynthesis128
VivadoSynthesis192
VivadoSynthesis256

# VivadoHLS
vivado_hls.log

VivadoHLS/aes_full/.apc/
VivadoHLS/aes_full/.settings/
VivadoHLS/aes_full/solution1/.autopilot/
VivadoHLS/aes_full/solution1/.tcls/
VivadoHLS/aes_full/solution1/csim/
VivadoHLS/aes_full/solution1/impl/
VivadoHLS/aes_full/solution1/sim/
VivadoHLS/aes_full/solution1/syn/

VivadoHLS/cipher/.apc/
VivadoHLS/cipher/.settings/
VivadoHLS/cipher/solution1/.autopilot/
VivadoHLS/cipher/solution1/.tcls/
VivadoHLS/cipher/solution1/csim/
VivadoHLS/cipher/solution1/impl/
VivadoHLS/cipher/solution1/sim/
VivadoHLS/cipher/solution1/syn/

VivadoHLS/inverse_cipher/.apc/
VivadoHLS/inverse_cipher/.settings/
VivadoHLS/inverse_cipher/solution1/.autopilot/
VivadoHLS/inverse_cipher/solution1/.tcls/
VivadoHLS/inverse_cipher/solution1/csim/
VivadoHLS/inverse_cipher/solution1/impl/
VivadoHLS/inverse_cipher/solution1/sim/
VivadoHLS/inverse_cipher/solution1/syn/